/* reset */
* {
  padding: 0;
  margin:  0;
  box-sizing: border-box;
}
/* REGOLE GENERALI */
body {
  font-family: 'Roboto', sans-serif; /* NOTE: stile testo all page */
  width: 1280px; /* NOTE: dimensione schermo */
  margin: auto; /* NOTE: allineo al centro */
}

.contenitore { /* NOTE: ho impostato che la larghezza del contenitore deve essere 80% dello schermo */
  position: relative;
  width: 90%;
  margin: auto;/* NOTE:  width + marginin questo modo ho centrato il contenuto dell header */
}
.clearfix::after{  /* NOTE: evitare che il main scenda sotto l'header */
  content: "";
  display: table;
  clear: both;
}
header {
  position: relative;
  margin: auto;
  color: white;   /* NOTE: tutto il testo all'interno dell'header è bianco */
  height: 400px;
  text-transform: uppercase; /* NOTE: TESTO MAIUSCOLO */
  padding: 30px; /* NOTE: spaziatura superiore */
  background: rgb(12, 49, 90); /* NOTE: colore sfondo header */
  background-image: url(../img/background-header.png);
  background-repeat: no-repeat;
  background-size: 703px;
  background-position: 109% 126%;
}
/* list general */
ul {
  text-decoration:none;
  list-style-type: none;
}

main {
  position: relative;
}
.pgrey
{
  color: grey;
  font-size: 17px;
  padding: 20px 5px;
}

.pgreen{
  font-size: 27px;
  color: #7cbb01;

}
/* FINE REGOLE GENERALI */

/*  HEADER|| Menubar */

/* COLONNE impostazioni generali */
.col {
  float: left; /* NOTE: tutte le colonne sono affiancate */

}
/* colonna sinistra */
header .contenitore .menubar .col-logo{
  width: 15%;
  height: 50px;
}
/* colonna centrale */
header .contenitore .menubar .col-center {
  width: 45%;
}
/* colonna destra */
header .contenitore .menubar .col-right {
  width: 40%;
  text-align: right;
}
/* HEADER |  menubar  */

/* elementi lista */
header .menubar .col .menu li {
  display: inline-block;
  padding: 0 10px;
  font-size: 11px;
  margin-left: 5px;}

/*  link lista */

header .menubar .col .menu a {
  color: white;
  text-decoration: none;
}

header .menubar .menu {
  margin-top: 13px;
}
/* colonna destra, elemento login  */
header .menubar .col-right .menu .login {
  padding: 2px 8px;
  border: 1px solid white;
  border-radius: 4px;
}
/*  colonna destra, elemento sfondo verde */
header .menubar .col-right .menu .button {
  background-color: #7cbb02;
  padding: 2px 8px;
  border: 1px solid #7cbb02;
  border-radius: 4px;
}
/* menubar hover */
header .menubar .menu a:hover {
  background: #fd772d;
  border-radius: 2px;
}
header .menubar .menu .button:hover {
  background: #fd772d;
  border-color: #fd772d;
}
header .menubar .menu .login:hover {
  background: #fd772d;
  border-color: #fd772d;
}
/* HEADER | TITLE  */

/* testo */
header .contenitore .title h1 {
  font-size: 48px;
  width: 700px;
  padding-top: 131px;
  margin-bottom: 20px;
}
/* cta */
header .contenitore .title a {
  text-decoration: none;
  color: white;
  background-color: #7cbb02;
  padding: 10px 8px;
  border: 1px solid #7cbb02;
  border-radius: 4px;
}
/* FINE HEADER */

/* INIZIO MAIN */
main::after{
  content: "";
  display: table;
  clear: both;
}
main .top {
  position: relative;
  height: 120px;
  background-color: #d3d3d3;
}
main .top .text h3 {
  width: 50%;
  margin: auto;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  text-align: center;
}
main .top .text p {
  font-size: 11px;
  text-align: center;
  color: grey;
  padding: 83px;
}
/*  MAIN  centrale */


main .focus .col {
  padding-top: 40px;
}

main .contenitore .col.profilo {
  text-align: center;
  width: 33%;
  background: white;
}
main .contenitore .col.profilo img {
  height: 200px;
  width: 150px;
}

main .contenitore .col.computer {
  width: 33%;
  background: white;
  text-align: center;

}

main .contenitore .col.computer img {
  height: 200px;
  width: 200px;

}
main .contenitore .col.docu {
  width: 33%;
  background: white;
  text-align: center;
}

main .contenitore .col.docu img {
  width: 150px;
  height: 200px;
}


.hr-img {
  width: 30%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 5px;
}

.hr-2 {
  border: 1px solid lightgrey;
  border-radius: 5px;
  margin-bottom: 100PX;
}



/* MAIN INFERIORE */
main .inferiore {
 position: relative;
}
 .col-mountain {
   padding-left: 10%;
   padding-right: 5%;
   width: 50%;

 }
 .col-mountain .immagine img {
   width:450px;
   height: 400px;
 }

 .col-mountain-text{
   width: 35%;
   margin: auto;
 }

 .col-mountain-text h3 {
   font-size: 40px;
   padding: 0px 5px;
 }
 .col-mountain-text a {
   color: #8fb0d3;
 }
/* FINE MAIN INFERIORE */
.hr-mountain {
  border: 1px solid lightgrey;
  border-radius: 5px;
}
/* FOOTER */

.col-action {
  position: relative;
  width: 50%;
  height: 150px;
  background-color:#d3d3d3;
}
footer .col-action h3 {
  text-align: center;
  font-size: 30px;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}

footer .col-input {
  position: relative;
  background-color: #d3d3d3;
  width: 50%;
  height: 150px;
}

footer .col-input ul li {
  display: inline-block;
  font-size: 20px;


}

select {
  text-decoration: underline;
  border: none;
  background-color: transparent;
  height: 30px;
  width: 150px;
  font-size: 20px;
  color: grey;
}
option {
background-color: red;}
